* {
    padding: 0;
    margin: 0;
}
.container__form {
    max-width:35%;
    min-height: 100%;
    color: rgba(0, 0, 0, 0.671); 
    position: relative;
    border-radius: 5%;
    top: -25px;
    left: 85px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgb(228, 228, 228) 0px 8px 16px -8px;
    padding: 0px 1em;
    box-sizing: content-box;
    background-color: rgba(161, 161, 161, 0.5);
    font-family: 'Londrina Solid', cursive;
}

.main__form {
   max-width: 800px;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
input[type=text] {
    padding: 5px;
    box-sizing: border-box;
    background-color: #f1f2f1;
    border: 0.5 solid;
    border-radius: 30px;
    box-shadow: 1px 1px grey;
    width: 200px;
    height: 40px;
    font-size: 1em;
}
input[type='checkbox'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    background:white;
    border-radius:6px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: rgb(0, 85, 255);
}
.main__form label { 
margin-bottom: 10px;
}
.main__form h1 {
    text-align: center;
font-family: 'Limelight', cursive;
}
.main__form hr {
    margin: 5px;
    box-shadow: 1px 1px rgb(73, 73, 73);
}
.submit {
    font-size: 1em;
    margin: 20px 0;
    padding: 15px;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgba(65, 147, 255, 0.562);
}
.main__form button:hover {
    background-color: #f1f1f1;
    transition: 200ms ease-in-out;
}